body{
    background:#fff;
}
.tab{
    padding:15px 20px 0;
    height:35px;
}
.tab ul{}
.tab ul li{
	float:left;
	width:15%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:1.6rem;
	color:#969696;
}
.tab ul li.tab_right{
    float:right;
}
.tab ul li .tab_line{
    display:none;
    width:40%;
    height:5px;
    margin:0 auto;
    background:#ffdd00;
    border-radius:2px;
}
.tab ul li.on{
	color:#323232;
}
.tab ul li.on .tab_line{
    display:block;
}
.list_total{
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    color: #646464;
}

ul.list{
	padding:0 20px;
}

ul.list li{
	border-bottom:1px solid #eee;
	padding:10px 0;
	position:relative;
}
ul.list li:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	overflow:hidden;
}
ul.list li .nums{
	float:left;
    width: 40px;
	height: 45px;
	line-height: 45px;
    color:#646464;
	font-size:1.2rem;
	margin-right:5px;
}

ul.list li .avatar{
	float:left;
	margin:0 5px;
}

ul.list li .avatar img{
	width:40px;
	height:40px;
	border-radius:50%;
	margin-top:4px;
}

ul.list li .info{
	position:relative;
}

ul.list li .info .name{
	font-size: 1.4rem;
}
ul.list li .info .name p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.list li .info .contribute{
    position: absolute;
    top: 14px;
    right: 0;
	color:#646464;
    font-size:1.2rem;
}

ul.list li .info .contribute-nums{
	margin-right:5px;
}

ul.list li.order{
    float:left;
    text-align:center;
    border:none;   
}
ul.list li.order .avatar_p{
    position:relative;
    height: 150px;
}

ul.list li.order .avatar{
	float:none;
    position: absolute;
    padding-bottom:100%;
    width:100%;
    max-width:140px;
    margin:0;
    bottom:5px;
}

ul.list li.order .avatar span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


ul.list li.order .info .contribute{
    position: relative;
    top: 0;
}

ul.list li.order1{
    width:40%;
}
ul.list li.order1 .avatar img{
    position:absolute;
    top:0;
    left: 20%;
    width: 60%;
    height: 60%;
    margin-top: 36%;
}
ul.list li.order1 .avatar span{
    background:url('../images/contribute/no_1.png') no-repeat center bottom;
    background-size:90%;
}


ul.list li.order2{
    width:30%;
}
ul.list li.order2 .avatar img{
    position:absolute;
    top:0;
    left: 24%;
    width: 52%;
    height: 52%;
    margin-top: 36%;
}
ul.list li.order2 .avatar span{
    background:url('../images/contribute/no_2.png') no-repeat center bottom;
    background-size:90%;
}


ul.list li.order3{
    width:30%;
}
ul.list li.order3 .avatar img{
    position:absolute;
    top:0;
    left: 24%;
    width: 52%;
    height: 52%;
    margin-top: 36%;
}
ul.list li.order3 .avatar span{
    background:url('../images/contribute/no_3.png') no-repeat center bottom;
    background-size:90%;
}




