body{
    background:#f5f5f5;
}
.tab{
    background:#fff;
    margin-bottom:10px;
    height:55px;
}
.tab ul{}
.tab ul li{
    float:left;
    width:50%;
    height:50px;
    line-height:50px;
    text-align:center;
    color:#969696;
    font-size:1.6rem;
}
.tab ul li .tab_line{
    display:none;
    width: 30px;
    height: 5px;
    margin: 0 auto;
    border-radius: 2px;
}
.tab ul li.on{
    color:#323232;
}
.tab ul li.on .tab_line{
    display:block;
}

.tab_bd{
    position:absolute;
    width:100%;
    height: calc(100% - 80px);
    overflow: auto;   
}
.tab_bd{}
.tab_bd .bd_title{
    padding: 20px 0 10px 0;
    text-align: center;
    font-size:1.6rem;
    background: #fff;
}
.tab_bd .bd_title .bd_title_line{}
.tab_bd .bd_title .bd_title_txt{
    margin:0 5px;
    font-weight:bold;
}
.tab_bd .bd_content{
    padding:10px 10px 20px;
    background:#fff;
}
.tab_bd .bd_content ul{}
.tab_bd .bd_content ul li{
    float:left;
    width:50%;
}
.tab_bd .bd_content ul li img{
    width:100%;
}


/* 靓号 */
.liang .bd_content {
}
.liang .bd_content ul li{
    float:none;
    padding:10px 0;
    width:100%;
    border-top:1px solid #f5f5f5;
}
.liang .bd_content ul li:first-child{
    border-top:none;
}
.liang .bd_content ul li .liang_id{
    float:left;
    height:32px;
    line-height:32px;
    font-size:1.8rem;
    font-weight:bold;
}
.liang .bd_content ul li .liang_buy{
    float:right;
    width:70px;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#ffdd00;
    border:1px solid #ffdd00;
    border-radius:15px;
}

/* 坐骑 */
.car .bd_content ul li{
    margin:5px;
    padding:10px 10px 10px;
    width:calc(50% - 10px);
    
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;    
    -webkit-box-shadow: 0 0 5px 2px #f5f5f5;
    -moz-box-shadow: 0 0 5px 2px #f5f5f5;
    box-shadow: 0 0 5px 2px #f5f5f5;
    text-align:center;
}
.car .bd_content ul li .car_img{
    height:100px;
}
.car .bd_content ul li .car_img img{
    width:auto;
    max-width:100%;
    max-height:100%;
}
.car .bd_content ul li .car_title{
    font-size:1.5rem;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.car .bd_content ul li .car_coin{
    height:42px;
    color:#969696;
}
.car .bd_content ul li .car_buy{
    margin:10px auto 0;
    width:70px;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#ffdd00;
    border:1px solid #ffdd00;
    border-radius:15px;
}